html {
    scroll-behavior: smooth;
}    
body {
    background-color: var(--mainbg);
    /* font-family: MV Boli; */
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: auto;
    --mainbg: hsl(214, 17%, 8%);
    --bgcolor1: #17191c;
    --bgcolor2: hsl(214, 17%, 8%);
    --maintxt: #d4d4d5;
    --txt1: hsl(0, 0%, 100%);
    --txt2: hsl(263, 90%, 51%);
    --color: #330879;
    --ptaxhaima1: #e1b382;
    --ptaxhaima2: #c89666;
    --ptaxhaima3: #2d545e;
    --ptaxhaima4: #12343b;
}
nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--mainbg);
    padding: 6px;
    width: 100%;
    top: 0px;
    z-index: 10;
}
.nav-links {
    display: flex;
    width: 60%;
    margin-top: 12px;
    right: -40%;
    position: relative;
}
.nav-links li {
    list-style: none;
    padding: 5px 5px;
}
.nav-links2 {
    display: flex;
    width: 60%;
    right: -17.5%;
    position: relative;
}

.nav-links2 ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: var(--txt2);
    display: block;
    margin: auto;
    transition: 0.5s;
    border-radius: 2px;
}
.nav-links2 ul li:hover:after {
    width: 100%;
}
.header {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    margin-right: 75px;
    left: 15%;
}
.nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
    /* letter-spacing: 2px; */
    font-size: 16px;
    padding: 4px 4px;
}
.nav-links li a:hover {
    color: var(--txt2);
}
.home {
    position: relative;
}
.profile {
    position: relative;
}
.homeright {
    /* background-color: var(--bgcolor1); */
    background-image: url('./img/homepic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    /* filter: blur(12px); */
    /* margin-top: -20px; */
    width: 100%;
    height: 720px;
    flex: 88%;
}
.homeleft {
    background-color: var(--mainbg);
    flex: 12%;
}
#home {
    display: flex;
}
.hometxt {
    z-index: 5;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 7.5%;
    color: var(--mainbg);
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* border: 3px solid var(--mainbg); */
    width: 50%;
    padding: 20px;
}
.profile1 {
    background-color: var(--bgcolor1);
    width: 100%;
    height: 720px;
    color: var(--maintxt);
    text-align: center;
    display: flex;
}
.event1 {
    background-color: var(--bgcolor2);
    width: 100%;
    height: 720px;
    color: var(--maintxt);
    text-align: center;
    display: flex;
}
.hobby1 {
    background-color: var(--bgcolor1);
    width: 100%;
    height: 720px;
    color: var(--maintxt);
    text-align: center;
    display: flex;
}
.skill1 {
    background-color: var(--bgcolor2);
    width: 100%;
    height: 720px;
    color: var(--maintxt);
    text-align: center;
    display: flex;
}
.pageleft1 {
    background-color: var(--mainbg);
    flex: 12.5%;
}
.pageleft2 {
    background-color: var(--mainbg);
    flex: 12.5%;
}
.page1 {
    height: 80%;
    position: relative;
    top: 35px;
    flex: 87.5%;
    margin: 40px 40px;
}
.page2 {
    height: 80%;
    position: relative;
    top: 35px;
    flex: 87.5%;
    margin: 40px 40px;
}
.head {
    height: 24vh;
    background-color: var(--mainbg);
}
.cutter {
    position: absolute;
    background-color: var(--mainbg);
    width: 70%;
    height: 4px;
    border-radius: 20px;
    right: 15%;
    top: 60%;
}
.cutter2 {
    position: absolute;
    background-color: var(--txt2);
    width: 80%;
    height: 3px;
    border-radius: 20px;
    left: 10%;
}
.mypic1 {
    position: absolute;
    width: 37.5%;
    height: 75%;
    left: -10%;
    top: 12.5%;
    border: var(--txt2);
    border-radius: 20%;
    cursor: pointer;
    transition: transform .2s;
    padding: 2px 2px;
    z-index: 5;
}
#mypic1:hover {
    background-color: var(--txt2);
    transform: scale(1.1);
    filter: drop-shadow(0 0px 12px var(--txt2));
}
.undertxt {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 45%;
    top: 2.5%;
    left: 40%;
}
.social {
    font-size: 200%;
}
.social a {
    margin: 10px;
    color: var(--txt2);
    text-decoration: none;
    transition: 0.3s linear;
    position: absolute;
}
i {
    color: var(--txt2);
    transition: 0.2s linear;
    width: 50px;
    height: 50px;
}
i:hover {
    scale: 1.2;
    filter: drop-shadow(0px 1px 1px var(--txt2));
    transform: translate(5px, -5px);
}
.itcamp {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 0%;
    top: 17.5%;
    border: var(--txt2);
    border-radius: 20%;
    cursor: pointer;
    transition: transform .2s;
    padding: 2px 2px;
}
.itcamp:hover {
    background-color: var(--txt2);
    transform: scale(1.1);
    filter: drop-shadow(0 0px 12px var(--txt2));
}
.prepro {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 55%;
    top: 17.5%;
    border: var(--txt2);
    border-radius: 20%;
    cursor: pointer;
    transition: transform .2s;
    padding: 2px 2px;
}
.prepro:hover {
    background-color: var(--txt2);
    transform: scale(1.1);
    filter: drop-shadow(0 0px 12px var(--txt2));
}
.evtxt {
    position: absolute;
    top: 0%;
    left: 41.2%;
}
.itcamptxt {
    margin-top: 10px;
    text-align:center;
    position: absolute;
    top: 82.5%;
    left: 8.5%;
}
.preprotxt {
    margin-top: 10px;
    text-align:center;
    position: absolute;
    top: 82.5%;
    left: 65%;
}
.ace {
    filter: drop-shadow(15px 12px 9px var(--txt2));
    border: var(--txt2);
    cursor: pointer;
    padding: 2px 2px;
    position: absolute;
    left: -10%;
    z-index: 5;
}
.ace1 {
    width: 480px;
    height: 270px;
    position: absolute;
    z-index: 10;
}
.ace1:hover {
    opacity: 0;
}
.hobbytxt {
    position: absolute;
    left: 47.5%;
}
.hobbytxt2 {
    position: absolute;
    top: 60%;
}
.zankyousanka {
    filter: drop-shadow(-15px 12px 9px var(--txt2));
    border: var(--txt2);
    cursor: pointer;
    padding: 2px 2px;
    position: absolute;
    left: 55%;
    top: 50%;
    z-index: 5;
}
.zankyousanka1 {
    width: 480px;
    height: 270px;
    position: absolute;
    z-index: 10;
}
.zankyousanka2 {
    width: 480px;
    height: 270px;
    position: absolute;
}
.zankyousanka1:hover {
    opacity: 0;
}
.graph {
    position: absolute;
    left: 0%;
}
.tra {
    margin-top: 20px; 
    padding: 0.24rem; 
    width: 100px; 
    background-image: linear-gradient(to right, darkmagenta, var(--txt2)); 
    color: var(--maintxt);
    transition: ease 1.2s;
    border-radius: 10px 50px;
}
.devimg {float: left;
    width: 100px;
    height: 100px;
}
.graphclick {
    background-image: linear-gradient(to right, darkmagenta, var(--txt2));
    margin-top: 5px; 
    padding: 10px;
    border-radius: 2em / 5em;
}
